#title-fileInfo {
    text-align: center;
    font-family: arial, sans-serif;
}

#fileInfo {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 3px solid #ddd;
    width: 100%;
}

#fileInfo td, #fileInfo th {
    border: 1px solid #ddd;
    padding: 8px;
}

#fileInfo tr:nth-child(even){background-color: #f2f2f2;}

#fileInfo tr:hover {background-color: #ddd;}

#fileInfo th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4d63ff;
    color: white;
}

.inputContainer {
    padding-bottom: 30px;
    padding-top: 20px;
}

.uploadedFiles-title {
    background-color: rgba(78, 194, 168, 0.49);
}

.upload-container {
    padding-top: 20px;
    height: 350px;
    overflow: auto;
}

.error-container {
    padding-top: 20px;
    height: 350px;
    overflow: auto;
}

.error-title {
    background-color: #ffb4aa;
    padding-bottom: 20px;
    padding-top: 20px;
}

.file-header {
    display: flex;
    overflow: hidden;
    justify-content: center;
}
