.App {
  text-align: center;
  background-color: #4CAF50;
  height: 100vh;
  min-height : 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(73, 79, 82);
  color: white;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-logo {
  font-size: 22px;
  font-weight: 700;
  text-transform: uppercase;
}

nav .nav-links {
  display: flex;
  justify-content: space-around;
  width: 32%;
}

nav .nav-links a {
  font-size: 15px;
  font-weight: normal;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .5;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal {
  z-index: 100;
  background: white;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 500px;
  padding: 2rem;
  display: unset !important;
  overflow: auto !important;
  height: 65%;
  top: 10% !important;
}

.modal-header-close {
  display: flex;
  overflow: hidden;
  justify-content: flex-end;
}

.modal-close-button {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
  padding-left: 20%;
}

button {
  font-size: .9rem;
  font-weight: 700;
  border: none;
  border-radius: 3px;
  padding: .3rem 1rem;
  margin-left: .5rem;
}

.button-default {
  background: #247BA0;
  color: #fff;
}

.file-title {
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
}
